$color-icon:rgb(63, 212, 223);
$color-background: rgb(207, 50, 50);
$justify-texto: center;
$color-fondo: white;
$justify-contenido: space-evenly;
$align-items: center;
$justify-content: space-around;
$aliniar-texto: center;
$justificar-contenido:center;
$tipografia-general:'Rubik';